
body {
    background-image: url('./assets/vaporwave-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Cousine', monospace;
}

app-board .board {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.header {
    background-color: rgba(32,19,92, 0.6);
    padding: 5px;
    text-align: center;
    color: white;
    padding-top: 25px;
}

.header h1 {
    color: white;
    font-size: 30px;
    line-height: 34px;
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.header h2 {
    font-size: 16px;
    line-height: 18px;
    color: white;
    margin-bottom: 5px;;
}


p.footer {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    background-color: rgba(32,19,92, 0.6);
    padding: 10px;
    margin-bottom: 0;
}

p.footer a {
    color: inherit;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    p.footer {
        font-size: 10px;
        line-height: 14px;
    }
}