.square {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

.piece {

    display: inline-block;
    border-radius: 100px;
    position: absolute;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.75);
}

.piece.H {
    background-color: #e82313;
    cursor: pointer;
    pointer-events: auto;
}

.piece.C {
    background-color: #555555;
    pointer-events: none;
}

.piece .crown {
    color: white;
    font-size: 40px;
    line-height: 38px;
    height: 28px;
    width: 40px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}