.board {
    /* border: 1px solid black; */
    border: 1px solid white;
    height: 700px;
    width: 700px;
    display: block;
    /* margin: 0 auto; */
    /* position: relative; */
    /* box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.75); */
    box-shadow: 3px 3px 15px 1px rgba(255,255,255,0.75);
    backdrop-filter: blur(1px);
}

.winner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(2px); */
    background-color: rgb(24,15,71,0.7);
    z-index: 1000;
}

.winner-overlay .winner-overlay-content {
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.winner-overlay span {
    display: block;
    color: white;
    font-size: 46px;
    line-height: 50px;
    text-align: center; 
    padding-bottom: 20px;
}

.winner-overlay button,
.winner-overlay button:focus {
    background-color: #35AB59;
    border: none;
    outline: none;
    font-size: 26px;
}



@media screen and (max-width: 1200px) {
    .board { height: 500px; width: 500px; }
}

@media screen and (max-width: 1000px) {
    .board { height: 400px; width: 400px; }
}

@media screen and (max-width: 700px) {
    .board { height: 350px; width: 350px; }
}

@media screen and (max-width: 500px) {
    .board { height: 300px; width: 300px; }
}

.square {
    display: inline-block;
    width: 12.5%;
    height: 12.5%;
    pointer-events: none;
    /* background-color: #dd0000; */
    background-color: rgba(32,19,90,0.9)

}

.board > .square:not(.even-row):nth-child(2n + 1), 
.board > .square.even-row:nth-child(2n) {
    /* background-color: #222222; */
    background-color: rgba(255,255,255,0.9);
}


::ng-deep app-piece {
    position: absolute;
    width: 12.5%; 
    height: 12.5%;
    transition: left 0.5s, top 0.5s;
    transition-timing-function: ease;
    top: 0;
    left: 0;
    pointer-events: none;
}

.square.possibleJumper {
    background-color: #F9AC5D!important;
}

.square.possibleMover {
    /* background-color: green!important; */
}

.square.possibleMove {
    background-color:  #ADE4CB!important;
    cursor: pointer;
    pointer-events: auto;
}

.square.possibleJump {
    background-color: #FCECB0!important;
    cursor: pointer;
    pointer-events: auto;
}

.game-info {
    text-align: center;
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    z-index: 900;
}

.game-info p {
    font-size: 26px;
    line-height: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 0;
    color: white;
}

.game-info button,
.game-info button:focus {
    display: inline-block;
    margin: 0 5px;
    outline: none;
    border: none;
    font-size: 12px;
    padding: 2px 5px;
}