.board {
    border: 1px solid black;
    height: 600px;
    width: 600px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.75);
}

.square {
    display: inline-block;
    width: 12.5%;
    height: 12.5%;
    background-color: #dd0000;
    pointer-events: none;
    /* border: 1px solid black; */
}

.board > .square:not(.even-row):nth-child(2n + 1), 
.board > .square.even-row:nth-child(2n) {
    background-color: #222222;
}


::ng-deep app-piece {
    position: absolute;
    width: 12.5%; 
    height: 12.5%;
    transition: left 0.5s, top 0.5s;
    transition-timing-function: ease;
    top: 0;
    left: 0;
    pointer-events: none;
}

.square.possibleJumper {
    background-color: orange!important;
}

.square.possibleMover {
    background-color: green!important;
}

.square.possibleMove {
    background-color:  blue!important;
    cursor: pointer;
    pointer-events: auto;
}

.square.possibleJump {
    background-color: pink!important;
    cursor: pointer;
    pointer-events: auto;
}