<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="board">
                <ng-container *ngFor="let row of board; let i = index">
                    <div *ngFor="let square of row; let ii = index" 
                        class="square" 
                        [ngClass]="{
                            'even-row': i % 2 == 0,
                            'possibleJumper': spaceIsPossibleJumper(i, ii),
                            'possibleMover': spaceIsPossibleMover(i,ii),
                            'possibleJump': spaceIsPossibleJump(i,ii),
                            'possibleMove': spaceIsPossibleMove(i,ii)
                        }"
                        (click)="moveSelectedPiece(i,ii)"
                        >&nbsp;     
                    </div>
                </ng-container>
                <template #piecesContainer></template>
                
            </div>
        </div>
    </div>
</div>
